/* General Styles */
body {
  background: linear-gradient(to bottom, #000000, #1c1c1c, #333333);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #ffffff;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1,
h2 {
  text-align: center;
}

/* Title Animation */
.title-animation {
  color: #e50914;
  font-size: 3em;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #e50914, 0 0 20px #f40612, 0 0 30px #f40612;
  }
  100% {
    text-shadow: 0 0 20px #e50914, 0 0 40px #f40612, 0 0 60px #f40612;
  }
}

/* Input Section */
.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.input-section:hover {
  transform: scale(1.02);
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  width: 50%;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input,
.input-group select {
  padding: 10px;
  width: 100%;
  border: 1px solid #444444;
  border-radius: 4px;
  background-color: #1c1c1c;
  color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  box-shadow: 0 0 10px #e50914, 0 0 20px #f40612;
}

/* Custom Select Dropdown */
.custom-select {
  appearance: none;
  background: #1c1c1c url("data:image/svg+xml;base64,PHN2ZyB...") no-repeat
    right 10px center;
  background-size: 15px;
  cursor: pointer;
  position: relative;
}

.custom-select:hover {
  background-color: #333333;
}

/* Button Hover Animation */
.btn-hover {
  padding: 10px 20px;
  background-color: #e50914;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.btn-hover:hover {
  background-color: #f40612;
  transform: translateY(-3px);
}

/* Table Styling */
.expenses-list {
  margin: 20px;
  color: #ffffff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

table:hover {
  transform: scale(1.02);
}

th,
td {
  border: 1px solid #444444;
  padding: 12px;
  text-align: left;
}

th {
  background: linear-gradient(45deg, #e50914, #f40612);
  color: #ffffff;
  font-size: 16px;
  transition: all 0.3s ease;
}

tbody tr:nth-child(even) {
  background-color: #222222;
}

tbody tr:hover {
  background-color: #333333;
}

tfoot td {
  font-weight: bold;
  background-color: #111111;
}

.delete-btn {
  padding: 5px 10px;
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s ease, transform 0.3s ease;
}

.delete-btn:hover {
  background-color: #f40612;
  transform: scale(1.1);
}
